@{
    ViewData["Title"] = "Add New Expences - Expences";
}

@section PageScripts {
    <script src="~/js/common.js"></script>
}

@section PageStyles {
    <style>
        .page-template {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

            .page-template .header {
                position: absolute;
                top: 30px;
                left: 30px;
                right: 30px;
                border-bottom: 1px solid #888;
                text-align: center;
                font-size: 18px;
            }

            .page-template .footer {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px;
            }

        .k-pdf-export colgroup > col:nth-child(4) {
            width: 0;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h4 class="card-header">
                Report
            </h4>
            <div class="card-body pt-2 mt-1">
                <div class="row gy-4">

                    <div class="col-md-2">
                        <div class="form-floating form-floating-outline">
                            <input class="form-control" type="text" id="txt_search" name="search" autofocus />
                            <label for="search">Search</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating form-floating-outline">
                            <input class="form-control" type="date" id="txt_startdate" name="startDate" placeholder="start Date" />
                            <label for="dobBackdrop">Start Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating form-floating-outline">
                            <input class="form-control" type="date" id="txt_enddate" name="enddate" placeholder="End Date" />
                            <label for="dobBackdrop">End Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating form-floating-outline">
                            <select id="ddboatid" asp-items="ViewBag.BoatsList" class="select2 form-select" autofocus>
                                <option value="">-- Select --</option>
                            </select>
                            <label for="country">Boat</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-floating form-floating-outline">
                            <select id="ddreport" class="select2 form-select">
                                <option value="">-- Select --</option>
                                <option value="1">Sales</option>
                                <option value="2">Expense</option>
                                <option value="3">Income</option>
                                <option value="4">P&L</option>
                                <option value="5">Commission</option>
                            </select>
                            <label for="report">Report Name</label>
                        </div>
                    </div>

                    <div class="col-md-2 d-flex">
                        <div class="form-floating form-floating-outline">
                            <button type="button" class="btn btn-outline-primary tf-icons mdi mdi-plus-box-multiple" onclick="LoadReport()">Search</button>
                            <button type="button" class="btn btn-outline-primary tf-icons mdi mdi-plus-box-multiple" onclick="ClearReport()">Clear</button>
                        </div>
                    </div>

                    <div class="card-body pt-2 mt-1">

                        <div id="grid_ReportDetails">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <script type="x/kendo-template" id="page-template">
            <div class="page-template">
                <div class="header">
                    Report
                </div>
                <div class="footer">
                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                </div>
            </div>
        </script>

        <script>
            var reportName = '';

            $(document).ready(function () {
                LoadReport();
                debugger;
                const date = new Date();
                let statedDate = new Date(date.getFullYear(), date.getMonth(), 1);
                let endedDate = new Date(date.getFullYear(), date.getMonth() + 1, 0);

                document.getElementById('txt_startdate').value = formatDate(statedDate);
                document.getElementById('txt_enddate').value = formatDate(endedDate);
            });

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }

            function LoadReport() {

                let Url = '';
                let Search = $("#txt_search").val();
                let Reportid = $("#ddreport").val();
                let BoatId = $("#ddboatid").val() == "" ? 0 : $("#ddboatid").val();
                let StartDate = $("#txt_startdate").val();
                let EndDate = $("#txt_enddate").val();
                let Columns_properties = '';
                let Aggregate = [];

                if (ValidateDetails()) {

                    if (Reportid == 1) {
                        Url = '@Url.Action("GetSaleReportList", "Report")';
                        reportName = "Sales Report";

                        Columns_properties = [
                            { columnName: 'TripNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Trip No' },
                            { columnName: 'SaleNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Sale No' },
                            { columnName: 'BoatName', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Boat Name' },
                            { columnName: 'TotalSaleAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Sale Amount' },
                            { columnName: 'TotalExpenseAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Expense Amount' },
                            { columnName: 'BalanceAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Balance Amount' },
                        ]

                        Aggregate = [{ field: "TotalSaleAmount", aggregate: "Sum" }, { field: "TotalExpenseAmount", aggregate: "Sum" }, { field: "BalanceAmount", aggregate: "Sum" }];
                    } else if (Reportid == 2) {
                        Url = '@Url.Action("GetExpenseReportList", "Report")';
                        reportName = "Expense Report";

                        Columns_properties = [
                            { columnName: 'TripNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Trip No' },
                            { columnName: 'SaleNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Sale No' },
                            { columnName: 'BoatName', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Boat Name' },
                            { columnName: 'OwnerExpenseNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Expense No' },
                            { columnName: 'TotalAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Expense Amount' },
                        ]

                        Aggregate = [{ field: "TotalAmount", aggregate: "Sum" }];
                    } else if (Reportid == 3) {
                        Url = '@Url.Action("GetIncomeReportList", "Report")';
                        reportName = "Income Report";

                        Columns_properties = [
                            { columnName: 'TripNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Trip No' },
                            { columnName: 'SaleNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Sale No' },
                            { columnName: 'BoatName', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Boat Name' },
                            { columnName: 'IncomeNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Expense No' },
                            { columnName: 'TotalAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Income Amount' },
                            { columnName: 'BalanceAmount', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Balance Amount' },
                        ]

                        Aggregate = [{ field: "TotalAmount", aggregate: "Sum" }, { field: "BalanceAmount", aggregate: "Sum" }];
                    } else if (Reportid == 4) {
                        Url = '@Url.Action("GetPnlReportList", "Report")';
                        reportName = "Profit & Loss Report";

                        Columns_properties = [
                            { columnName: 'TripNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Trip No' },
                            { columnName: 'SaleNo', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Sale No' },
                            { columnName: 'BoatName', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'string', title: 'Boat Name' },
                            { columnName: 'TotalIncome', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Income Amount' },
                            { columnName: 'TotalExpense', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'Expense Amount' },
                            { columnName: 'Totalpnl', isHidden: false, islocked: false, iseditable: false, width: '100px', dataType: 'amount', title: 'P&L' }
                        ]

                        Aggregate = [{ field: "TotalIncome", aggregate: "Sum" }, { field: "TotalExpense", aggregate: "Sum" }, { field: "Totalpnl", aggregate: "Sum" }];
                    } else if (Reportid == 5) {
                        Url = '@Url.Action("GetCommissionReportList", "Report")';
                        reportName = "Commission Report";

                        Columns_properties = [
                            { columnName: 'SaleNo', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'string', title: 'Sale No' },
                            { columnName: 'BoatName', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'string', title: 'Boat Name' },

                            { columnName: 'QtyIce', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Ice Qty' },
                            { columnName: 'PriceIce', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Ice Price' },
                            { columnName: 'AmountIce', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Ice Amount' },

                            { columnName: 'QtyFuel', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fuel Qty' },
                            { columnName: 'PriceFuel', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fuel Price' },
                            { columnName: 'AmountFuel', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fuel Amount' },

                            { columnName: 'QtyFertizer', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fertizer Qty' },
                            { columnName: 'PriceFertizer', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fertizer Price' },
                            { columnName: 'AmountFertizer', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Fertizer' },

                            { columnName: 'QtyOwner', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Owner Qty' },
                            { columnName: 'PriceOwner', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Owner Price' },
                            { columnName: 'AmountOwner', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Commission' },

                            { columnName: 'QtyShare', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Share Qty' },
                            { columnName: 'PriceShare', isHidden: true, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Share Price' },
                            { columnName: 'AmountShare', isHidden: false, islocked: false, iseditable: false, width: 130, dataType: 'amount', title: 'Owner Share' },
                        ]

                        Aggregate = [{ field: "QtyIce", aggregate: "Sum" }, { field: "PriceIce", aggregate: "Sum" }, { field: "AmountIce", aggregate: "Sum" },
                        { field: "QtyFuel", aggregate: "Sum" }, { field: "PriceFuel", aggregate: "Sum" }, { field: "AmountFuel", aggregate: "Sum" },
                        { field: "QtyFertizer", aggregate: "Sum" }, { field: "PriceFertizer", aggregate: "Sum" }, { field: "AmountFertizer", aggregate: "Sum" },
                        { field: "QtyShare", aggregate: "Sum" }, { field: "PriceShare", aggregate: "Sum" }, { field: "AmountShare", aggregate: "Sum" },
                        { field: "QtyOwner", aggregate: "Sum" }, { field: "PriceOwner", aggregate: "Sum" }, { field: "AmountOwner", aggregate: "Sum" }];
                    }

                    var GridName = 'ReportDetails';
                    var Params = { 'Search': Search, 'BoatId': BoatId, 'StartDate': StartDate, 'EndDate': EndDate };
                    var DataFunction = [{ GridHeight: false, template: false, toolbar: false, dataBound: false, save: false, GridColumnTemplate: false }];

                    FillUpdatedGrid(Url, Params, GridName, PageSize = 60, Columns_properties, Aggregate, DataFunction, ScreenName = "", ReportName = reportName, DataAdd = "");
                }
            }

            function ValidateDetails() {

                var Valid = true;

                var boat = $('#ddboatid').val();
                var reporttype = $('#ddreport').val();

                // if (boat == "" || parseFloat(boat) <= 0) {
                //     Valid = false;
                //     $("#ddboatid").focus();
                //     toastr.warning('Please Select Boat Name');
                // } else
                if (reporttype == "" || parseFloat(reporttype) <= 0) {
                    Valid = false;
                    $("#ddreport").focus();
                    toastr.warning('Please Select Report Type');
                }

                return Valid;
            }

            function ClearReport() {
                $('#txt_search').val('');
                $("#ddreport").val('');
                $("#ddboatid").val('');
                LoadReport();
            }
        </script>
    }