@model Boat;
@{
    ViewData["Title"] = "Add New Boat - Boat";
}

@section PageScripts {
    <script src="~/js/ui-toasts.js"></script>
}

@* ************** Content ************** *@

<div class="row">
    <div class="col-md-12">
        <form id="formAccountSettings" asp-controller="Master" asp-action="DefineBoat" asp-route-Id="@Model.BoatId">
            @Html.AntiForgeryToken()
            <div class="card mb-4">
                <h4 class="card-header">
                    Add Boat Details
                    <div style="float:right">
                        @if (Model.BoatId > 0)
                        {
                            <button type="submit" class="btn btn-success">Update</button>
                            <a asp-controller="Master" asp-action="DeleteBoat" asp-route-eid="@Model.EncId" class="btn btn-danger">Delete</a>
                        }else{
                            <button type="submit" class="btn btn-success">Save</button>
                        }
                        <a asp-controller="Master" asp-action="GetBoat" class="btn btn-primary">Back</a>
                    </div>
                </h4>
                <!-- Account -->
                <div class="card-body pt-2 mt-1">
                    <div class="row gy-4">
                        @Html.HiddenFor(m => m.BoatId)
                        <div class="col-md-3">
                            <div class="form-floating form-floating-outline">
                                <input asp-for="BoatCode" class="form-control" type="text" id="txt_boatcode" name="boatcode" placeholder="Boat Code" />
                                <label for="boatcode">Boat Code</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating form-floating-outline">
                                <input asp-for="BoatName" class="form-control" type="text" id="txt_boatname" name="boatname" placeholder="Boat Name" />
                                <label for="boatname">Boat Name</label>
                            </div>
                        </div>
                        <div class="col-md-3" style="align-content:center;">
                            <div class="form-check form-switch mb-2">
                                <input asp-for="@(Model.IsActive)" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="@(Model.IsActive)" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Account -->
            </div>
        </form>
    </div>
</div>


