@model ExpenseType;
@{
    ViewData["Title"] = "Add New ExpenseType - ExpenseType";
}

@* ************** Content ************** *@

<div class="row">
    <div class="col-md-12">
        <form id="formAccountSettings" asp-controller="Master" asp-action="DefineExpenseType" asp-route-Id="@Model.ExpenseTypeId">
            @Html.AntiForgeryToken()
            <div class="card mb-4">
                <h4 class="card-header">
                    Add ExpenseType Details
                    <div style="float:right">
                        @if (Model.ExpenseTypeId > 0)
                        {
                            <button type="submit" class="btn btn-success">Update</button>
                            <a asp-controller="Master" asp-action="DeleteExpenseType" asp-route-eid="@Model.EncId" class="btn btn-danger">Delete</a>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success">Save</button>
                        }

                        <a asp-controller="Master" asp-action="GetExpenseType" class="btn btn-primary">Back</a>
                    </div>
                </h4>
                <!-- Account -->
                <div class="card-body pt-2 mt-1">
                    <div class="row gy-4">
                        @Html.HiddenFor(m => m.ExpenseTypeId)
                        <div class="col-md-3">
                            <div class="form-floating form-floating-outline">
                                <input asp-for="ExpenseTypeCode" class="form-control" type="text" id="txt_ExpenseTypecode" name="ExpenseTypecode" placeholder="ExpenseType Code" />
                                <label for="ExpenseTypecode">ExpenseType Code</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating form-floating-outline">
                                <input asp-for="ExpenseTypeName" class="form-control" type="text" id="txt_ExpenseTypename" name="ExpenseTypename" placeholder="ExpenseType Name" />
                                <label for="ExpenseTypename">ExpenseType Name</label>
                            </div>
                        </div>
                        <div class="col-md-3" style="align-content:center;">
                            <div class="form-check form-switch mb-2">
                                <input asp-for="IsActive" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="@(Model.IsActive)" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Account -->
            </div>
        </form>
    </div>
</div>