@model IEnumerable<CreditHd>

@{
    ViewData["Title"] = "Get Owner Credit";
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
}

@* ************** Content ************** *@
<!-- Bootstrap Table with Header - Light -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-bold">
            Credit List
            <a asp-action="DefineCredit" class=" btn btn-sm btn-primary" style="float:right">Add Credit</a>
        </h3>
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Credit Number</th>
                    <th>Person Name</th>
                    <th>Boat</th>
                    <th>Total Credit Amount</th>
                    <th>Total Debit Amount</th>
                    <th>Balance Amount</th>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@Html.DisplayFor(model => item.CreditNo)</td>
                            <td>@Html.DisplayFor(model => item.PersonName)</td>
                            <td>@Html.DisplayFor(model => item.BoatName)</td>
                            <td>@Html.DisplayFor(model => item.TotalCreditAmount)</td>
                            <td>@Html.DisplayFor(model => item.TotalDebitAmount)</td>
                            <td>@Html.DisplayFor(model => item.TotalBalanceAmount)</td>
                            <td>
                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Lilian Fuller">
                                        <img src="~/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="DefineCredit" asp-route-eid="@item.EncId"><i class="mdi mdi-pencil-outline me-1"></i> Edit</a>
                                        @*   <a class="dropdown-item" asp-action="DeleteCredit" asp-route-eid="@item.EncId"><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a> *@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <div>
                                Credit not available into database
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap Table with Header - Light -->