@model IEnumerable<SaleHd>

@{
    ViewData["Title"] = "Get Sale";
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
}

@* ************** Content ************** *@
<!-- Bootstrap Table with Header - Light -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-bold">
            Sale List
            <a asp-action="DefineSale" class=" btn btn-sm btn-primary" style="float:right">Add Sale</a>
        </h3>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="table-light">
                <tr>
                   
                    <th>Trip No</th>
                    <th>Sales No</th>
                    <th>Boat</th>
                    <th>Arr. Date</th>
                    <th>Dis. Date</th>
                    <th>Days</th>
                    <th>Sale Amt</th>
                    <th>Total Expense Amt</th>
                    <th>Balance Amt</th>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.TripNo)</td>
                            <td>@Html.DisplayFor(model => item.SaleNo)</td>
                            <td>@Html.DisplayFor(model => item.BoatName)</td>
                            <td>@Convert.ToDateTime(item.StartDate).ToString("dd/MMM/yyyy")</td>
                            <td>@Convert.ToDateTime(item.EndDate).ToString("dd/MMM/yyyy")</td>
                            <td>@Html.DisplayFor(model => item.NoOfDays)</td>
                            <td>@Html.DisplayFor(model => item.TotalSaleAmount)</td>
                            <td>@Html.DisplayFor(model => item.TotalExpenseAmount)</td>
                            <td>@Html.DisplayFor(model => item.BalanceAmount)</td>
                            <td>
                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Lilian Fuller">
                                        <img src="~/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="DefineSale" asp-route-eid="@item.EncId"><i class="mdi mdi-pencil-outline me-1"></i> Edit</a>
                                        @if (@item.IsActive)
                                        {
                                            <a class="dropdown-item" asp-action="DeleteSale" asp-route-eid="@item.EncId"><i class="mdi mdi-trash-can-outline me-1"></i> Delete</a>
                                        }
                                    </div>
                                </div>
                            </td>
                           
                           

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <div>
                                Sales not available into database
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap Table with Header - Light -->
